In [104]:
import pandas as pd
import numpy as np

In [106]:
data = pd.read_csv('Mountains.csv',  delimiter = ',')
#data.head(10)
#data.info()

In [129]:
data.loc[pd.isnull( data['Parent mountain'] ) ].head() # нет названия родителя (1 entry is null)
data['Parent mountain'].fillna("Main", inplace = True ) # для удобства работы заменим на Main

only_mountain = {'Mountain':data['Mountain'], 'Parent':data['Parent mountain']} #работаем только с названиями гор
data_mountains= pd.DataFrame(only_mountain)
#data_mountains.head(10)
#data_mountains.info()

data_mountains['Amount'] = 1            #флаг для count() group by 
data_mountains.head(3)

                                   Mountain         Parent  Amount
0  Mount Everest / Sagarmatha / Chomolungma           Main       1
1                K2 / Qogir / Godwin Austen  Mount Everest       1
2                             Kangchenjunga  Mount Everest       1

In [133]:
parent_mountains = data_mountains.groupby('Parent').sum() # группируем по количеству родителей
#parent_mountains.head(100) 

mask = (parent_mountains.Amount > 3)          # отбираем с числом вершин больше трех
mountains_over_three = parent_mountains.loc[ mask ]

#выведем в файл
mountains_over_three.to_csv( 'Mountains_groups_over_three_count.csv', sep = ',', na_rep = '0', columns = ['Amount'], index = True )

mountains_over_three.sort_values( by = 'Amount', ascending = False ).head(10)

               Amount
Parent
Mount Everest       9
Gasherbrum I        8
Cho Oyu             7
Kangchenjunga       7
Distaghil Sar       5
K2                  5
Dhaulagiri          4
Shisha Pangma       4